@import "./atom-one-dark.css";
@import "~tinper-bee/dist/Button/index.css";
.demoPadding{
    button{
        margin: auto 5px;
    }
    .divider{
        margin: 6px 0;
        height: 1px;
        overflow: hidden;
        background-color: #e0e0e0;
    }
}
span.error{
    display: block;
    color: red;
    font-size: 12px;
}
